<h1>{{title }}</h1>
<p>Welcome to a demo best practice node app</p>
<p>To install users please call: node <strong>./bin/create-users.js</strong> in the terminal</p>

<p>If you have users, you can visit them here: <a href="/users">Users</a></p>